In [38]:
import pandas as pd
import numpy as np



def inverse(pri):
    global change
    change = [0]
    for i in range (1, len(pri)):
        change.append(pri[i]-pri[i-1])
    inv = [pri[0]]
    for i in range (1,len(change)+1):
        inv.append((inv[i-1]-change[i-1])%12)
    
    return inv[1:]

def newrow(i):
    row = [i]
    for i in range (1, len(change)+1):
        row.append((row[i-1]+change[i-1])%12)
    return row[1:]


o_prime = [11,10,2,3,7,6,8,4,5,0,1,9]
o_inverse = inverse(o_prime)

df = pd.DataFrame(columns = o_prime, index = o_inverse)


for i in o_prime:
    df.loc[i] = newrow(i)

df

    11  10  2   3   7   6   8   4   5   0   1   9
11  11  10   2   3   7   6   8   4   5   0   1   9
0    0  11   3   4   8   7   9   5   6   1   2  10
8    8   7  11   0   4   3   5   1   2   9  10   6
7    7   6  10  11   3   2   4   0   1   8   9   5
3    3   2   6   7  11  10   0   8   9   4   5   1
4    4   3   7   8   0  11   1   9  10   5   6   2
2    2   1   5   6  10   9  11   7   8   3   4   0
6    6   5   9  10   2   1   3  11   0   7   8   4
5    5   4   8   9   1   0   2  10  11   6   7   3
10  10   9   1   2   6   5   7   3   4  11   0   8
9    9   8   0   1   5   4   6   2   3  10  11   7
1    1   0   4   5   9   8  10   6   7   2   3  11